/*etiquetas comunes*/
a{
    text-decoration:none;
    color:white;
}

a:hover{
    text-decoration:line-through 3px;
}

li{
    list-style:none;
}

/*------------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: consolas;
    src: url(fonts/consolas/CONSOLA.TTF);
}

html{
    background-color:black;
    color:white;
    font-family:"consolas";
}

header{
    text-align:center;
    background-color:black;
}

header marquee{
    display:none;
}

#todo{
    display:flex;
    flex:wrap;
    flex-wrap:wrap;
}

#tabs{
    width:100%;   
    height:50px;
}

#barra_lateral{
    display:flex;
    flex-direction:column;
    height: 550px;
    border-radius:5px;
    width:15%;
    padding:10px;
}

#item{
    position:relative;
    height:fit-content;
    padding:0px;
    margin:10px;
}

#subitems{
    display:none;
    position:absolute;
    left:10%;
    padding-top:10px;
    height: fit-content;
}

#subitems li{
    list-style:armenian;
}

#item:hover{
    height:100px;
}

#item:hover #subitems{
    display:block;
}

#asd{
    overflow-y:auto;
    padding:20px;
    border:white 1px solid;
    width:65%;
    height:500px;
    display:flex;
    flex:wrap;
}