#thumbs_up{
    color:greenyellow;
    width:min-content;
    height:min-content;
}
#thumbs_down{
    color:red;
    width:min-content;
    height:min-content;
}

#word{
    color:yellow;
}

#word:hover{    
    text-decoration:underline;
}

.api{
    width:40%;
    height:fit-content;
    border:1px solid white;
    padding:10px;
    display:grid;
}