@font-face {
    font-family: splash;
    src: url(../fonts/mc/Minecraftia-Regular.ttf);
}

.splash {
    position:absolute;
    color: yellow;
    font-family: "splash";
    height: min-content;
    justify-self: right;
    padding: 20px;
    animation: splash_ 1s alternate infinite;
    z-index:2;
}

@keyframes splash_ {
    0% {
        transform: scale(50%) rotate(-20deg);
    }

    100% {
        transform: scale(100%) rotate(-20deg);
    }

}

.lineCount{
    max-width: fit-content;
    max-height: 10px;
    position:absolute;
    justify-self: right;
    top:540px;
    z-index:5;
    pointer-events: none; /*non focusable*/
}

form input{
    background-color:black;
    color:white;
    border:none;
    text-align:center;
}


.new_splash{
    position:absolute;
    max-width:min-content;
    justify-self: center;
    z-index:1;
}