#todolist_items{
    height:fit-content;
    width:100%;
}

#todolist_item{
    width: 100%;
    min-width:300px;
}

#todolist_item:hover{
    filter:brightness(50%);
}

#completados{
    width:100%;
    height:fit-content;
    min-height:30%;
}

#todolist_item_completado{
    filter:brightness(50%); 
    display:none;
}

#todolist_item_completado a{
    text-decoration:line-through;
}

#todolist_item_completado a:hover{
    text-decoration: none;
}

#cerrar:checked ~ #todolist_item_completado{
    display:block;
}

#cerrar{
    -webkit-appearance: none;
    appearance: none;
    background-color:white;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

#cerrar::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

#cerrar:checked::before {
    transform: scale(1);
}

#insertar form{
    display:flex;
    flex-wrap:wrap;
}

form input{
    background-color:black;
    color:white;
}