.thumbs_up{
    color:greenyellow;
    width:min-content;
    height:min-content;
}
.thumbs_down{
    color:red;
    width:min-content;
    height:min-content;
    margin-left:10px;
}

.word{
    color:yellow;
}
.word:hover{    
    text-decoration:underline;
}

.api{
    min-width:40%;
    max-width:40%;
    height:fit-content;
    border:1px solid white;
    padding:10px;
    display:grid;
}

.tag{
    color:limegreen;
    padding:10px;
    border:1px solid white;
    width:40%;
    text-align:center;
}
.tag a{
    color:limegreen;
}

