@font-face {
    font-family: "consolas";
    src: url(../fonts/consolas/CONSOLA.TTF);
}

html {
    background-color: black;
    color: white;
    font-family: consolas;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    width: 100%;
    min-width: 500px;
}

.game div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 160px;
}

.text {
    line-height: 110px;
}

.info {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.info div {
    flex: 1;
}

.inputarea {
    display: flex;
    flex-wrap: wrap;
    border: 0px;
}

textarea {
    background-color: black;
    color: white;
    width: 80%;
    height: 70%;
    padding: 10px;
    border-style: none;
    resize: none;
}

.nextChar {
    text-decoration: underline;
}

.incorrect_char {
    color: red;
    text-decoration: underline;
}

.correct_char {
    color: limegreen;
}

::-webkit-scrollbar {
    display: none;
    /* ocultar scrollbar */
}

.quote {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 700px;
    position: relative;
    left: 10%;
}

.letra {
    min-width: 9px !important;
    width: 9px !important;
}

select#mode {
    background-color: black;
    color: white;
    height: 20px;
    border-left: 1px solid;
}

@keyframes cursor {

    0%,
    50% {
        border-left: 1px solid white;
    }

    51%,
    00% {
        border-left: 1px solid black
    }
}

.sig_char {
    animation: cursor 1.1s infinite step-start;
    /*step-start makes it so the change is abrupt*/
}

span {
    height: min-content;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll-left {
    animation: scroll-left 0.1s normal;
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.scroll-right {
    animation: scroll-right 0.1s normal;

}